.App {
  text-align: center;
  margin-top: 2rem;
}

.slick-slider {
  width: 90%; /* Update the width as desired */
  margin: 0 auto;
}

.slick-slide img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.slick-slide p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

